{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Profile - Atrana</title>

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="{% static 'assets/modules/bootstrap-5.1.3/css/bootstrap.css' %}">
	<!-- Style CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<!-- FontAwesome CSS-->
	<link rel="stylesheet" href="{% static 'assets/modules/fontawesome6.1.1/css/all.css' %}">
	<!-- Boxicons CSS-->
	<link rel="stylesheet" href="{% static 'assets/modules/boxicons/css/boxicons.min.css' %}">
</head>
<body>
  
  <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="fa fa-bars"></i>
		</button>
	</div>
		<div class="menu">
			<ul>
				<li class="nav-item dropdown dropdown-list-toggle">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					   <i class="fa fa-bell size-icon-1"></i><span class="badge bg-danger notif">4</span>
					</a> 				 
					<div class="dropdown-menu dropdown-list">
						<div class="dropdown-header">Notifications</div>
						<div class="dropdown-list-content dropdown-list-icons">
							<div class="custome-list-notif"> 
							<a href="#" class="dropdown-item dropdown-item-unread">
								<div class="dropdown-item-icon bg-primary text-white">
								  <i class="fas fa-code"></i>
								</div>
								<div class="dropdown-item-desc">
									The Atrana template has the latest update!
								  <div class="time text-primary">3 Min Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="far fa-user"></i>
								</div>
								<div class="dropdown-item-desc">
								   Sri asks you for friendship!
								  <div class="time">12 Hours Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-danger text-white">
								  <i class="fas fa-check"></i>
								</div>
								<div class="dropdown-item-desc">
									Storage has been cleared, now you can get back to work!
								  <div class="time">20 Hours Ago</div>
								</div>
							  </a>

						  
							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="fas fa-bell"></i>
								</div>
								<div class="dropdown-item-desc">
								    Welcome to Atrana Template, I hope you enjoy using this template!
								  <div class="time">Yesterday</div>
								</div>
							  </a>
 
							</div>
						</div>

						<div class="dropdown-footer text-center">
						  <a href="#">View All</a>
						</div>

					  
				  </li>
			 
				  <li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  <img src="{{seller_data.pic.url}}" alt="">
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'seller_profile' %}"><i class="fa fa-user size-icon-1"></i> <span>My Profile</span></a>
						<a class="dropdown-item" href="{% url 'seller_logout' %}"><i class="fa fa-user size-icon-1"></i> <span>LogOut</span></a>
						<a class="dropdown-item" href="settings.html"><i class="fa fa-cog size-icon-1"></i> <span>Settings</span></a>
						<hr class="dropdown-divider">
						<a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt  size-icon-1"></i> <span>My Profile</span></a>
					</ul>
				  </li>
			</ul>
		</div>
	</div>

	<!--Sidebar-->
	<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
        <div class="sidebar-content"> 
        	<div id="sidebar">
			
			<!-- Logo -->
			<div class="logo">
					<h2 class="mb-0"><img src="{{seller_data.pic.url}}"> <value> {{seller_data.full_name}}</value></h2>
			</div>
<!-- 
			 <div class="info">
				<a href="#" class="d-block">{{seller_data.full_name}}</a>
			  </div> 
			 -->

            <ul class="side-menu">
                <li>
					<a href="{% url 'seller_index' %}" class="active">
						<i class='bx bxs-dashboard icon' ></i> Dashboard
					</a>
				</li>

				

				<!-- Divider-->
                <li class="divider" data-text="STARTER">STARTER</li>

				
				<!-- <li><a href="{% url 'seller_add_product' %}">seller_add_product</a></li> -->

				<li>
					<a href="{% url 'seller_add_product' %}">
						<i class='bx bxs-meh-blank icon'></i> 
						Seller Add Product
					</a>
				</li>
				
				<li>
					<a href="{% url 'my_product' %}">
						<i class='bx bxs-meh-blank icon'></i> 
						my_product
					</a>
				</li>

                <li>
                    <a href="#">
						<i class='bx bx-columns icon' ></i> 
						Layout 
						<i class='bx bx-chevron-right icon-right' ></i>
						
					</a>
                    <ul class="side-dropdown">
						
                        <li><a href="{% url 'seller_default' %}">Default Layout</a></li>
                        <li><a href="{% url 'seller_layout_top_navigation' %}">Top Navigation</a></li>
                    </ul>
                </li>

                <li>
					<a href="{% url 'seller_blank_pages' %}">
						<i class='bx bxs-meh-blank icon'></i> 
						Blank Page
					</a>
				</li>

                <li>
                    <a href="#">
						<i class='fa fa-th icon' ></i> 
						Bootstrap 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
						<li><a href="{% url 'seller_bootstrap_alert' %}">Alert</a></li>
						<li><a href="{% url 'seller_bootstrap_badge' %}">Badge</a></li>
						<li><a href="{% url 'seller_bootstrap_breadcrumb' %}">Breadcrumb</a></li>
						<li><a href="{% url 'seller_buttons' %}">Buttons</a></li>
						<li><a href="{% url 'seller_bootstrap_card' %}">Card</a></li>
						<li><a href="{% url 'seller_bootstrap_carousel' %}">Carousel</a></li>
						<li><a href="{% url 'seller_bootstrap_dropdown' %}">Dropdown</a></li>
						<li><a href="{% url 'seller_bootstrap_list_group' %}">List Group</a></li>
						<li><a href="{% url 'seller_bootstrap_modal' %}">Modal</a></li>
						<li><a href="{% url 'seller_bootstrap_nav' %}">Navs</a></li>
						<li><a href="{% url 'seller_bootstrap_pagination' %}">Pagination</a></li>
						<li><a href="{% url 'seller_bootstrap_progress' %}">Progress</a></li>
						<li><a href="{% url 'seller_bootstrap_spinner' %}">Spinner</a></li>
                    </ul>
                </li>

				<!-- Divider-->
                <li class="divider" data-text="Atrana">Atrana</li>

				<li>
                    <a href="#">
						<i class='bx bx-columns icon' ></i> 
						Components 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'seller_component_avatar' %}">Avatar</a></li>
						<li><a href="{% url 'seller_component_toastify' %}">Toastify</a></li>
                        <li><a href="{% url 'seller_component_sweet_alert' %}">Sweet Alert</a></li>
                        <li><a href="{% url 'seller_component_hero' %}">Hero</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
						<i class='bx bxs-notepad icon' ></i> 
						Forms 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'seller_editor' %}">Editor</a></li>
                        <li><a href="{% url 'seller_forms_validation' %}">Validation</a></li>
                        <li><a href="{% url 'seller_forms_checkbox' %}">Checkbox</a></li>
                        <li><a href="{% url 'seller_radio' %}">Radio</a></li>
                    </ul>
                </li>

				<li>
                    <a href="#">
						<i class='bx bxs-widget icon' ></i> 
						Widgets 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'seller_chatboxs' %}">ChatBox</a></li>
                        <li><a href="{% url 'seller_email' %}">Emails</a></li>
                        <li><a href="{% url 'seller_widgets_email' %}">Pricing</a></li>
                    </ul>
                </li>

				<li>
                    <a href="#">
						<i class='bx bxs-bar-chart-alt-2 icon' ></i> 
						Charts 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'seller_chart_chartjs' %}">ChartJS</a></li>
                        <li><a href="{% url 'seller_chart_apexcharts' %}">Apexcharts</a></li>
                    </ul>
                </li>

				<li>
                    <a href="#">
						<i class='bx bxs-cloud-rain icon' ></i> 
						Icons 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="icons-fontawesome.html">Fontawesome</a></li>
                        <li><a href="{% url 'seller_icons_boostrap' %}">Bootstrap Icons</a></li>
                    </ul>
                </li>

				<!-- Divider-->
				<li class="divider" data-text="Pages">Pages</li>

				<li>
                    <a href="#">
						<i class='bx bxs-user icon' ></i> 
						Auth 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'seller_login' %}">Login</a></li>
                        <li><a href="{% url 'seller_register' %}">Register</a></li>
                        <li><a href="{% url 'seller_forgot_password' %}">Forgot Password</a></li>
                        <li><a href="{% url 'seller_reset_password' %}">Reset Password</a></li>
                    </ul>
                </li>

				<li>
                    <a href="#">
						<i class='bx bxs-error icon' ></i> 
						Errors 
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                    <ul class="side-dropdown">
                        <li><a href="{% url 'seller_errors_403' %}">403</a></li>
                        <li><a href="{% url 'seller_errors_404' %}">404</a></li>
                        <li><a href="{% url 'seller_errors_500' %}">500</a></li>
                        <li><a href="{% url 'seller_errors_503' %}">503</a></li>
                    </ul>
                </li>


				<li>
					<a href="{% url 'seller_credits' %}"><i class='fa fa-pencil-ruler icon' ></i> 
						Credits
					</a>
				</li>

            </ul>

            <div class="ads">
				<div class="wrapper">
					<div class="help-icon"><i class="fa fa-circle-question fa-3x"></i></div>
					<p>Need Help with <strong>Atrana</strong>?</p>
                    <a href="docs/" class="btn-upgrade">Documentation</a>
                 </div>
            </div>
        </div>

       </div> 
	 </div>
	</div><!-- End Sidebar-->



	{% block content %}
	{% endblock %}








<footer>
    <div class="footer">
        <div class="float-start">
            <p>2022 &copy; Atrana</p>
        </div>
            <div class="float-end">
                <p>Crafted with 
                    <span class="text-danger">
                        <i class="fa fa-heart"></i> by 
                        <a href="https://www.facebook.com/andreew.co.id/" class="author-footer">Andre Tri Ramadana</a>
                    </span> 
                </p>
        </div>
    </div>
</footer>
